.skin-blue .sidebar-menu>li.active>a {
    border-left-color: #3c8dbc;
}
.skin-blue .sidebar-menu>li>a.active {
    border-left-color: #3c8dbc;
}
.skin-blue .sidebar-menu>li>a:hover,
.skin-blue .sidebar-menu>li>a.active,
.skin-blue .sidebar-menu>li.menu-open>a {
    color: #fff;
    background: #1e282c;
}
/*! CSS Used from: Embedded */
* {
    box-sizing: border-box;
}
.content-header ul {
    margin: 0;
    padding: 0;
}
.content-header ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    list-style-type: none;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.content-header ul li:nth-child(odd) {
    background: #f9f9f9;
}
.content-header ul li:hover {
    background: #ddd;
}
.content-header ul li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
}
.content-header ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}
.content-header .close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
}
.content-header .close:hover {
    background-color: #f44336;
    color: white;
}
.content-header .header {
    background-color: #f44336;
    padding: 30px 40px;
    color: white;
    text-align: center;
}
.content-header .header:after {
    content: "";
    display: table;
    clear: both;
}
.content-header input {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
    color: #000;
}
.content-header .addBtn {
    padding: 10px;
    width: 25%;
    background: #d9d9d9;
    color: #555;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
}
.content-header .addBtn:hover {
    background-color: #bbb;
}